
/* CARD STYLING */

* {
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(147, 58, 14);
}

.flexy {
    display: flex;
}

.card-container {
    outline: 15px solid #000000;
    margin: 50px;
    width: 350px;
    height: 515px;
    border: 15px solid #F6CF57;
    background-color: #F6CF57;
    border-bottom: none;
    border-radius: 5% 5% 3% 3%;
}

.content-container{
    width: 345px;
    height: 505px;
    border: 5px solid #d4b864;
    border-radius: 5px;
    background-color: #faf1d6;
    /* background-color: #bf9c33; */
}

.text-bar {
    height: 24px;
    width: 335px;
    /* margin-top: 5px; */
    padding-top: 5px;
    padding-left: 7px;
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    background-color: #d4b864;
    box-shadow: 0px 0px 1px 5px #8a7136;

}

.img-wrapper {
    width: 333px;
    height: 245px;
    border: 2px solid #000000;
    border-top: none;
    /* box-shadow: 3px 3px 6px 5px #776438; */
    margin-left: 5px;
    box-shadow: 0px 5px 1px 5px #8a7136;
}

.img-wrapper img {
    width: 335px;
    height: 245px;
}

.ctype {
    justify-content: left;
    text-align: left;

}

p {
    height: 90px;
    padding: 10px;
}

.stats {
    height: 35px;
    width: 70px;
    border: 3px solid #d4b864;
    border-radius: 18px;
    box-shadow: 0px 1px 2px 5px #8a7136;
    position: relative;
    top: -45px;
    left: 275px;
    padding-top: 7px;
    text-align: center;
    font-weight: bolder;
    font-size: 18pt;
    background-color: #8a7136;
}

.buttons {
    height: 150px;
    text-align: center;
    margin-top: 60px;
}

button {
    height: 75px;
    width: max-content;
    padding: 20px;
    margin: 25px;
    border-radius: 15px;
    font-size: larger;
    font-weight: bolder;
}

button:hover {
    background-color: #000000;
    color: #F6CF57;
    border: 3px solid #F6CF57;
}

.oracle {
    height: max-content;
}

.flavor {
    font-style: italic;
    height: max-content;
}